<!-- <div class="weather-container">
    <h2>Current Temperature in {{ city }}</h2>
    <p>{{ temperature }}°C</p>
    </div>
   -->

<div class="weather-container">
  <div class="weather-content">
    <h2>Current Temperature in {{ city }}</h2>

    <div class="weather-info">
      <!-- <img [src]="iconUrl" alt="Weather Icon" /> -->
      <!-- <i class="wi wi-day-sunny"></i> -->
      <!-- <img id="icon" src="http://openweathermap.org/img/wn/{{weatherData.weather.icon}}@2x.png" alt="Weather Icon"> -->
      <h2>{{ temperature }}°C</h2>
    </div>
  </div>
</div>
