<nav class="navbar">
  <div class="navbar-container">
    <!-- <h1>{{ title }}</h1> -->
    <!-- <a routerLink="/" class="logo">Company Inc</a> -->
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about-us">About</a></li>
      <li><a routerLink="/our-services">Services</a></li>
      <li><a routerLink="/our-customers">Customers</a></li>
      <!-- <li><a routerLink="/date-time">Date & Time</a></li>
      <li><a routerLink="/weather">Weather</a></li> -->
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
